*{
    padding:0;
    margin:0;
}
h1,h2,h3,h4,h5,h6,p{
    padding:0;
    margin:0;
}
#wrapper{
    margin:20px;
    font-size: 11px;
}
.clr{
    clear:both;
}
/******* HEADER **********/
.footer-content{
    width:50%;
    float:left;
}
.header{
    padding-top: 20px;
}
.header-right{
    width: 20%;
    float: left;
    vertical-align: middle;
}
.header-left{
    width: 20%;
    float: left;
    vertical-align: middle;
}
.header-center{
    width: 60%;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
}
img{
    margin-top:8px;
}
.business-information{
    margin-top:5px;
}
.info{
    /*margin-left:30px;*/
    /*padding-top:28px;*/
}

/******* END HEADER **********/

/********** CONTENT **********/
.content{
    margin-top: 15px;
    border: #f1f1f1 solid 1px;
}
.content-left{
    /*padding-left: 2%;*/
    padding: 2px 5px 5px 10px;
    float:left;
    width:46%;
    color:black;
}
.content-right{
    /*padding-left: 2%;*/
    padding: 2px 5px 5px 10px;
    float:left;
    width:46%;
    color:black;
}
.billing-address,.shipping-address,.payment-method,.shipping-method, .company-info{
    padding-top: 5px;
    float:left;
    /*width:50%;*/
    color:black;
}
.billing-address p,.shipping-address p,.payment-method p,.shipping-method p, .company-info p{
    margin-left:5px;
    /*margin-top:5px;*/
    /*margin-bottom:5px;*/
}
.mp-block-heading{
    width: 98% !important;
    /*padding: 5px 0px 5px 5px;*/
    /*border-bottom: #f1f1f1 solid 1px;*/
    /*text-decoration: underline;*/
}

.itemTable{
    padding: 7px;
    border-bottom: #f1f1f1 solid 1px;
    border-left: #f1f1f1 solid 1px;
    border-right: #f1f1f1 solid 1px;
}
/* Css table items */
.table{
    width:100%;
}
.header-table{
    width:100%;
    height:100%;
}
.mp-item{
    width:47.1%;
    float:left;
    /*padding:6px 0px;*/
}
.mp-qty{
    width:9%;
    float:left;
    text-align:center;
    /*padding:3px 0px;*/
}
.mp-price,.mp-subtotal{
    width:21.2%;
    float:left;
    text-align:right;
    /*padding:3px 0px;*/
}
.mp-heading{
    width:100%;
    border-bottom: 1px solid #f1f1f1;
    padding: 2px 0px 4px 0px;
    /*height:32px;*/
}
.mp-heading span{
    font-weight:bold;
}
.mp-row{
    padding: 2px 0px 4px 0px;
}
.mp-item{
    padding-left:5px
}
.order-totals{
    padding-top: 4px;
    text-align: right;
    padding-right: 2.1px;
    /*margin-top:10px;*/
}
.row-left{
    padding-right: 200px;
    border: #f1f1f1 solid 1px;
}
.mp{
    width: 100%;
    /*height: 35px;*/
}
.mp-str{
    font-weight: bold;
    width: 78.5%;
    float: left;
}
.mp-right{
    width: 20%;
    float: right;
}
/* End css table items*/

.mp-note{
    padding-left: 2px;
}

footer{
    border-bottom: #f1f1f1 solid 1px;
    border-left: #f1f1f1 solid 1px;
    border-right: #f1f1f1 solid 1px;
}
.footer-note{
    /*width:50%;*/
    padding: 10px;
    float: left;
    border-bottom: #f1f1f1 solid 1px;
}
.footer-note p{
    margin-left: 5px;
    font-style: italic;
}
.footer-barcode{
    /*width:40%;*/
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.mp-invoice-barcode{
    text-align: center;
}
/********** END CONTENT **********/