*{
    padding:0;
    margin:0;
}
h1,h2,h3,h4,h5,h6,p{
    padding:0;
    margin:0;
}

#wrapper{
    padding: 30px 60px 0px 60px ;
}
.logo{
    width:30%;
    float:right;
}
img{
    margin-top:30px;
}

.clr{
    clear:both;
}
.date,.customer{
    float:left;
    width:69%;

}
.store-infor,.billing-info{
    float:left;
    width:30%;
}

.invoice-id h1{
    border-bottom:1px solid black;
}
.address{
    padding:10px;
}

.email-items{
    width:100%;
}

.total-left{
    width:69.9%;
    float:left;

}
.total-right{
    width:30%;
    float:left;
    text-align: center;
}
.grand-total{
    min-height: 50px;
    background: black;
    color: white;
    text-align: center;
}
.grand-total h3{
    padding-top: 10px;
}
.grand-total-price{
    margin: 10px 0px;
    border-bottom: 3px solid black;
    text-transform: uppercase;

}
.total-left .mp{
    font-weight:bold;
    width:20%;
    float:left;
    padding-top: 60px;
    text-transform: uppercase;
    text-align:center;
    font-size:12px;
}
.price{
    display:block !important;
    font-weight: normal;
}


.mp-hr-bot{
    border:none;
    height:3px;
    color:black;
}
.mp-hr-top{
    border:none;
    height:1px;
    color:black;
}
.payment{
    padding:50px 0px;
}
.end{
    width:50px;
    height:10px;
    background:black;
    margin-top:30px;
}
.qr-core{
    float:left;

    width:50%;
}

.table{
    width:100%;
}
.header-table{
    width:100%;
    height:100%;
}
.mp-item{
    width:59%;
    float:left;
    padding:15px 0px;
}
.mp-qty,.mp-price,.mp-subtotal{
    width:13%;
    float:left;
    text-align:center;
    padding:15px 0px;

}
.mp-hr{
    height: 3px;
    background: black;
}
.mp-heading{
    width:100%;
    height:50px;
    border-bottom: 3px solid black;
    border-top: 1px solid black;
}
.mp-heading span{
    font-weight:bold;
}
.mp-item{
    padding-left:5px
}
/*for barcode*/
.mp-item-bc{
    width:44%;
    float:left;
    padding:6px 0px 6px 5px;
}
.mp-barcode-bc{
    width: 30%;
    float: left;
    padding:6px 0px;
}
.mp-barcode-bc p{
    text-align: right;
}
.mp-qty-bc,.mp-price-bc,.mp-subtotal-bc{
    width:10%;
    float:left;
    text-align:center;
    padding:6px 0px;
}
.mp-qty-bc{
    width:5%;
    float:left;
    text-align:center;
    padding:6px 0px;
}
/*end for barcode*/