#wrapper{
    padding: 30px 60px 0px 60px ;
}
.logo{
    width:30%;
    float:right;
}
img{
    margin-top:30px;
}
*{
    padding:0;
    margin:0;
}
h1,h2,h3,h4,h5,h6,p{
    padding:0;
    margin:0;
}
.clr{
    clear:both;
}
.date,.customer{
    float:left;
    width:69%;

}
.store-infor,.billing-info{
    float:left;
    width:30%;
}
.business-information{

}
.invoice-id h1{
    border-bottom:1px solid black;
}
.address{
    padding:10px;
}
.billing-info{

}
.email-items{
    width:100%;
}


.mp-hr-bot{
    border:none;
    height:3px;
    color:black;
}
.mp-hr-top{
    border:none;
    height:1px;
    color:black;
}
.payment,.shipping-method{
    padding:50px 0px;
    float:left;
    width:30%;
}

.end{
    width:50px;
    height:10px;
    background:black;
    margin-top:30px;
}
.qr-core{
    float:left;

    width:50%;
}
/* Css table items */
.table{
    width:100%;
}
.header-table{
    width:100%;
    height:100%;
}
.mp-item{
    width:59%;
    float:left;
    padding:15px 0px;
}
.mp-qty,.mp-price,.mp-subtoal{
    width:13%;
    float:left;
    text-align:center;
    padding:15px 0px;

}
.mp-heading{
    width:100%;
    height:50px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.mp-heading span{
    font-weight:bold;
}
.mp-item{
    padding-left:5px
}
.order-totals{
    text-align: right;
    margin-top:20px;
}
.mp{
    width: 100%;
    height: 35px;
}
.mp-str{
    font-weight: bold;
    width: 80%;
    float: left;
}
.mp-right{
    width: 18%;
    float: left;
}
/* End css table items*/